*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: url("wall_clock.png");
    width: 50vw;
    height: 50vw;
    background-size: cover;
}
.clock{
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: 20vw;
    left: 44.5vw;
}
.clock img{
    width: 100%;
}
.pendulum{
    position: absolute;
    top: 34vw;
    left: 48vw;
    width: 5vw;
    height: 10vw;
}
.pendulum img{
    width: 5vw;
}
.hour{
    height: 21%;
    width: 3%;
    background-color: rgb(255, 221, 0);
    position: absolute;
    top: 30%;
    left: 50%;
    transform-origin: bottom;
}
.min{
    height: 39%;
    width: 2%;
    background-color: rgb(255, 221, 0);
    position: absolute;
    top: 12%;
    left: 50.5%;
    transform-origin: bottom;
}
.sec{
    height: 45%;
    width: 1%;
    background-color: rgb(255, 221, 0);
    position: absolute;
    top: 6%;
    left: 51%;
    transform-origin: bottom;
}
.pendulum{
    transform-origin: top;
    animation: oscillate 1s ease-in-out infinite;
}
@keyframes oscillate {
    0%, 100%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
}